input {
    width: calc(100% - 120px);
    height: 40px;
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: rgb(233, 233, 233);
    text-align: center;
}
div[class~=left] {
    padding-left: 50px;
    width: calc(100% - 100px);
}
.btn {
    width: calc(100% - 100px);
    height: 30px;
    border-radius: 15px;
    background-color: #dbebff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-self: center;
}