.btn {
    width: 30%;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    background-color: #DBEBFF;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-self: center;
    font-weight: 900;
    color: black;
}
#outer {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#img2 {
    margin-left: -5%;
    margin-right: -5%;
}