div[class~=left] {
    padding-left: 50px;
    width: calc(100% - 100px);
}
.box {
    width: calc(100% - 70px);
    height: auto;
    border-radius: 20px;
    background-color: #8DA4D040;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0px;
}